# Fichiers et dossiers générés automatiquement
/vendor/
/composer.lock

# Cache ou fichiers temporaires
*.log
*.cache
*.tmp
*.swp

# Systèmes d’exploitation
.DS_Store
Thumbs.db

# Éditeurs de texte / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environnements locaux
.env
.env.local
.env.*.local
.install

# Dossiers de build ou de test
/build/
/coverage/
/node_modules/

# Fichiers utilisateurs ou de debug
*.bak
*.old
*.orig

# PHPStorm
/.phpstorm.meta.php/

# Serveur local (si applicable)
public/.htaccess
